.grainSearchOption {
  border: 1px solid #ddd;
  border-top: none;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.grainSearchOption:hover {
  background: #eee;
}

.grainDetail {
  font-size: 14px;
  padding: 6px 10px 4px 10px;
}

.grainSubtext {
  font-size: 10px;
  color: #666;
  padding: 0 22px 3px 3px;
}

.grainColor {
  width: 100%;
  height: 100%;
}