.grainSearchOption {
  border: 1px solid #ddd;
  border-top: none;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.grainSearchOption:hover {
  background: #eee;
}

.grainDetail {
  padding: 12px 10px 6px 10px;
}

.grainColor {
  width: 100%;
  height: 100%;
}