.hop {
  border-radius: 0.2em;
  padding: 0.5em;
  margin-bottom: 0.6em;
}

.expandAdditions {
}

.hopName {
  padding-top: 0.4em;
  font-size: 1.6em;
  font-weight: 100;
}

.hopInput {
  width: 2.4em !important;
  margin-left: 1em;
}

.greekLabel {
  display: inline-block;
  position: relative;
  bottom: 1em;
  left: 0.7em;
  font-size: 0.8em;
  font-weight: 400;
  color: #555;
}

.addRemoveHop {
}

.addRemoveHop svg {
  margin-left: 0.8em;
}

.detailLabel {
  font-size: 0.6em;
  color: #777;
  text-transform: uppercase;
}

.hopDetail {
  float: left;
  padding-left: 0.9em;
}
