.mashSchedule {
  padding: 1em 0.7em;
}

.mashLabel {
  position: relative;
  top: 0.8em;
  left: 0.8em;
  font-size: 0.6em;
  color: #777;
  text-transform: uppercase;
}

.mashValue {
  padding-left: 1.2em;
}

.mashControl {
  margin: 0 8px 8px 0;
}