.hopAddition {
  border-radius: 0.3em;
  margin-bottom: -1em;
  padding: 0 0.5em;
}

.additionWeight {
}

.removeAddition {
   margin-top: 0.4em;
}

.minuteLabel {
  position: relative;
  top: 0.8em;
  font-size: 0.6em;
  color: #777;
  text-transform: uppercase;
}

.detailLabel {
  font-size: 0.6em;
  color: #777;
}

.additionMinutes {
  margin-top: -0.6em;
}

.additionType {
  margin-left: 0.8em;
}

.additionDetail {
  float: left;
  min-width: 2.5em;
  margin: 0.6em 0 0 0.8em;
}

.additionDetail:first-child {
  margin-left: 2.5em;
}
