.ingredientSearch {
  width: 100%;
}

.searchInput {
  margin-bottom: -0.5em;
}

.searchResults {
  overflow-y: auto;
}

@media (min-height:511px) {
  .searchResults {
    height: 456px;
  }
}

@media (min-height:640px) {
  .searchResults {
    height: 535px;
  }
}