.yeastSearchOption {
  border: 1px solid #ddd;
  border-top: none;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  padding: 0.2em 0 0.4em 0.8em;
}

.yeastSearchOption:hover {
  background: #eee;
}

.yeastDetail {
  font-size: 0.9em;
  padding-top: 0.8em;
}

.subtext {
  padding: 0.2em 0 0 0.3em;
  font-size: 0.6em;
  color: #777;
  text-transform: uppercase
}