.fermentation {
  padding: 4px 8px;
}

.fermentationLabel {
  font-size: 0.6em;
  color: #777;
  text-transform: uppercase;
  padding: 0.3em 0 0 0.2em;
}

.yeasts {
  min-height: 350px;
}

.cellCount {
  float: right;
  padding: 0.2em 0.8em 0.3em 0.5em;
}

.cellCountValue {
  font-size: 1.8em;
  font-weight: 300;
}

sup {
  font-size: 0.7em;
  top: -0.7em;
}

.fermentationControl {
  margin: 0 8px 8px 0;
  padding: 6px 2px;
}

.pitchUnits {
  padding: 0.5em 0.8em 0 0;
  float: right;
  font-weight: 400;
}

.division {
  width: 3.8em;
  margin: 0.1em 0;
}