.grainBill {
}

.grainChart {
}

.grains {
  padding: 0.5em;
  overflow-y: scroll;
}

@media (max-height: 800px) {
  .grainChart {
    padding: 20px 0 0 110px;
  }

  .grains {
    margin-top: 25px;
    height: 385px;
  }
}
