.grain {
  min-height: 3em;
}

.colorBar {
  float: left;
  margin: 0 0.4em 0 0.1em;
  width: 4%;
  height: 3em;
}

.grainDetail {
  width: 55%;
  float: left;
}

.grainMfg {
  font-size: 0.6em;
  color: #aaa;
  text-transform: uppercase;
}

.grainGravity {
  font-size: 0.6em;
  color: #333;
}

.grainWeight {
  width: 35%;
  float: right;
  padding-right: 0.5em;
}