.grain {
  border-radius: 0.2em;
  padding: 0.5em;
  margin-bottom: 0.6em;
}

.grainName {
  height: 2em;
  padding: 0.2em 0.5em 0 0.5em;
}

.removeGrain {
}

.grainColor {
  width: 100%;
  height: 100%;
}

.weightPercentage {
  display: inline-block;
  position: relative;
  bottom: -1.5em;
  left: 0.5em;
  font-size: 0.9em;
  color: #333;
  font-weight: 400;
}
