.ingredients {
}

.detail {
}

.chart {
  z-index: 2;
  padding-left: 28%;
  min-height: 140px;
  max-width: 140px;
  margin-top: -10%;
}

.ingredientList {
  overflow-y: auto;
}

@media (min-height:511px) {
  .ingredientList {
    height: 175px;
  }
}

@media (min-height:640px) {
  .ingredientList {
    height: 285px;
  }
}