.hopSearch {
}

.searchInput {
  padding-top: 18px;
}

.searchResults {
  position: absolute;
  top: 58px;
  width: 45%;
  z-index: 1000;
  background-color: white;
}

.resultsHeader {
  background-color: #444;
  color: white;
  padding: 0.2em 0.3em;
}