.hop {
  min-height: 3em;
}

.hopName {
  position: relative;
  top: 0.3em;
  margin-right: 0.1em;
}

.hopDetail {
  width: 55%;
  margin-bottom: -15%;
}

.categories {
  margin-top: -8%;
  font-size: 0.6em;
  color: #aaa;
  text-transform: uppercase;
}

.alpha {
  font-size: 0.6em;
  color: #333;
}

.hopWeight {
  width: 35%;
  float: right;
  padding-right: 0.5em;
}

.hopAdditions {
  margin-bottom: 15%;
}