.ingredient {
}

.detailLabel {
  margin-top: 0.3em;
  padding: 0.4em 0 0 0.4em;
  font-size: 0.6em;
  color: #777;
  text-transform: uppercase;
}

.detailValue {
  padding: 0.2em 0 0 0.8em;
}

.blockQuote {
  font: 0.9em normal helvetica, sans-serif;
  margin: 1em 1em 1.5em 2em;
  padding: 1em;
  border-left: 3px solid #ccc;
  text-align: left;
}

.descriptionSource {
}
