.mobileGrainSearch {
}

.mobileGrainSearchOption {
  border: 1px solid #ddd;
  border-top: none;
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.grainSearchOption:hover {
  background: #eee;
}

.grainDetail {
  padding: 0.4em 1em 15em 1em;
}

.grainSubtext {
  margin-left: 0.4em;
  font-size: 0.6em;
  font-color: #ccc;
}

.color {
  float: left;
  width: 0.8em;
  height: 3.4em;
}