@import '../variables.css';

.recipeHeader {
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.headerLabel {
  position: relative;
  top: 0.8em;
  left: -0.8em;
  font-size: 0.6em;
  color: #777;
  text-transform: uppercase;
}

.headers {
  background-color: #444;
  color: white;
}

.efficiencySlider {
  width: 100px;
  display: inline-block;
}

.recipeInput {
  width: 35px;
  display: inline-block;
}


svg {
  cursor: pointer;
}

.calculatedValue {
  min-width: 2.5em;
  padding-top: 0.6em;
  font-size: 20px;
  color: #555;
}

.beerColor {
  width: 80%;
  height: 80%;
  margin-top: 15%;
}

.inputBlock {
  float: left;
  margin-left: 1em;
}

.inputBlock:first-child {
  padding-left: 1em;
}