.recipeHeader {
  margin: 8px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.headerLabel {
  text-align: right;
  padding: 2em 2em 0 0;
  font-size: 0.6em;
  color: #777;
  text-transform: uppercase;
}

.headers {
  background-color: #444;
  color: white;
}

.efficiencySlider {
  width: 100px;
  display: inline-block;
}

.recipeInput {
  width: 35px;
  display: inline-block;
}


svg {
  cursor: pointer;
}

.calculatedValue {
  min-width: 2.5em;
  padding-top: 0.6em;
  font-size: 20px;
  color: #555;
}

.beerColor {
  width: 80%;
  height: 80%;
  margin-top: 15%;
}

.inputBlock {
  float: left;
}

.inputBlock:first-child {
  padding-left: 0.5em;
}