.hopSchedule {
}

.hopChart {
}

.hops {
  padding: 0.5em;
  overflow-y: scroll;
}

@media (max-height: 800px) {
  .hopChart {
    padding: 20px 0 0 110px;
  }

  .hops {
    margin-top: 25px;
    height: 385px;
  }
}
