.hopSearchOption {
  border: 1px solid #ddd;
  border-top: none;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.hopSearchOption:hover {
  background: #eee;
}

.hopDetail {
  padding: 12px 10px 6px 10px;
}

.hopCategories {
  padding-left: 10px;
  font-size: 10px;
  color: #666;
}